* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
}

video::-webkit-media-controls {
    display: none;
  }

.container-width{
    margin: auto;
    max-width: 1280px;
    width: 100%;
}

.navbar-section {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}

.logo-img{
    width: 100px;
    object-fit: cover;
}

.bg-navbar{
    background-color: #00000050;
}

.header-section {
    position: relative;
    height: 100vh;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000050;
}

.header-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.header-content div:first-child{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: serif !important;
}

.header-content div:nth-child(2){
    text-align: center;
    color: white;
    font-size: 54px;
    font-weight: 700;
}

.header-content div:last-child{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.header-video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.service-header{
    position: relative;
    height: 70vh;
}

.service-header-img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.service-detail-img{
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.service-header-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 75px;
    text-shadow: 2px 3px 1px #A28655;
}

.service-header-section{
    height: 70vh;
}

.count-section {
    max-width: 1280px;
    margin: auto;
    margin-top: -93px;
}

.inner-count-div{
    z-index: 99;
    position: relative;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #00000010;
    padding: 25px 50px;
}

.inner-count-div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-count-div > div img {
    height: 50px;
}

.count-number{
    color: #A28655;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    line-height: normal;
}

.service-section{
    max-width: 1280px;
    margin: auto;
    padding: 120px 0px 60px;
}

.section-heading div:first-child{
    text-align: center;
    color: #A28655;
    font-size: 14px;
    text-transform: uppercase;
}

.section-heading div:last-child{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.service-card-container {
    display: grid;
    gap: 24px;
    margin-block: 32px;
    grid-template-columns: auto auto auto auto;
}

.service-card-div {
    border-radius: 12px;
    box-shadow: 0px 0px 10px #00000010;
    padding: 20px;
}

.service-card-img {
    height: 170px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: all 300ms linear;
}

.service-img-parent{
    border-radius: 12px;
}

.service-card-img:hover {
    transform: scale(1.15);
}

.service-card-heading a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    min-height: 46px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.service-card-heading a:hover{
    color: #A28655;
}

.service-card-content {
    font-size: 16px;
    height: 64px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #777777;
    line-height: normal;
}

.custom-btn {
    font-size: 16px;
    padding: 10px 30px;
    text-align: center;
    border: 1px solid #A28655;
    color: #A28655;
    border-radius: 25px;
    background-color: white;
    transition: all 300ms linear;
    text-decoration: none;
}

.custom-btn:hover {
    color: white;
    font-weight: 700;
    background-color: #A28655;
}

.review-section {
    background-image: url("../images/review-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 70px;
}

.inner-review {
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

.owl-nav{
    display: none;
}

.owl-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #A28655 !important;
}

.owl-theme .owl-dots .owl-dot span{
    margin: 0 !important;
}

.owl-carousel .owl-item img{
    width: 120px !important;
}

.review-parent-div .item {
    background: white;
    border-radius: 12px;
    padding: 24px;
}

.review-text{
    font-size: 14px;
    color: #777777;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.reviewer-name{
    font-size: 16px;
    color: black;
    line-height: normal;
    margin-top: 15px;
    position: relative;
}

.reviewer-name::before{
    content: "";
    height: 2px;
    width: 40px;
    background-color: #A28655;
    position: absolute;
    top: -2px;
}

.profile-detail-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms linear;
    text-align: center;
    display: none;
    width: 100%;
}

.profile-detail-overlay div{
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.profile-overlay:hover .profile-detail-overlay{
    display: block;
    z-index: 999;
}
.profile-overlay:hover .profile-img {
    filter: brightness(0.5);
}

.reviewer-post{
    font-size: 14px;
    color: #A28655;
    line-height: normal;
    font-weight: 700;
}

.review-img img{
    max-width: 150px !important;
    border-radius: 50%;
    border: 3px solid #00000010;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.team-section {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding: 120px 0px 50px;
}

.profile-img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px lightgray;
    background-color: white;
    object-fit: cover;
    width: 200px;
    aspect-ratio: 1/1;
}

.profile-div-1{
    top: 25px;
}

.profile-div-2{
    bottom: 25px;
}

.team-rectangle-div{
    background-color: #EEF4F260;
    border-radius: 50px;
    height: 100px;
    width: 100%;
}

.team-rectangle-div div{
    font-size: 16px;
    font-weight: 700;
    max-width: 200px;
    flex: 1;
    text-align: center;
}

.mobile-team-card-container{
    display: none;
}

.profile-div-1 > *,
.profile-div-2 > * {
    max-width: 200px;
    flex: 1;
}

.profile-div-1 .arrow-img{
    transform: rotate(180deg);
    margin-top: 10px;
}

.profile-div-2 .arrow-img{
    margin-bottom: 10px;
}

.team-second-div{
    margin-top: -40px;
}

.address-section{
    background-color: #A2865510;
    padding-block: 70px;
}

.inner-address-section{
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

.address-div{
    flex: 1;
    min-width: 200px;
}

.inner-address-section .address-div div{
    color: #777777;
}

.address-haeding{
    color: #A28655 !important;
}

.footer-section{
    padding: 50px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-footer-section{
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
}

.inner-footer-section *{
   color: white;
   font-size: 14px;
}

.footer-heading{
    color: #A28655;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer-about{
    max-width: 30%;
    width: 100%;
}

.footer-contact{
    margin-top: 12px;
}

.footer-contact strong{
    color: #A28655;
}

.footer-contact a{
   transition: all 300ms linear;
   text-decoration: none;
}

.footer-contact a:hover,
.footer-list li:hover{
    color: #A28655;
    cursor: pointer;
    margin-left: 5px;
}

.footer-list{
    max-width: 60%;
    width: 100%;
}

.footer-list li{
   margin-bottom: 5px;
   transition: all 300ms linear;
}

.bottom-footer-section{
    border-top: 1px solid white;
    padding-block: 20px;
}

.bottom-footer-section div{
    max-width: 1280px;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
}

@media (max-width: 1280px) {
    .count-section,
    .service-section,
    .container-width{
        margin-inline: 12px;
    }
    section{
        padding-inline: 12px;
    }
    .team-card-container{
        padding-inline: 12px;
    }
}
@media (max-width: 1199px) {
    .service-card-container {
        grid-template-columns: auto auto auto;
    }

    .landing-page.service-card-container > div:nth-child(7),
    .landing-page.service-card-container > div:nth-child(8){
        display: none;
    }

    .header-content div:first-child{
        font-size: 24px;
    }
    
    .header-content div:nth-child(2){
        font-size: 36px;
    }
    
    .header-content div:last-child{
        font-size: 20px;
    }
    .team-rectangle-div div{
        max-width: 130px;
        font-size: 12px;
    }
    
    .profile-div-1 > *,
    .profile-div-2 > *,
    .profile-overlay img {
        max-width: 130px;
        height: 130px;
        font-size: 12px;
    }

    .profile-div-1 .text-center{
        height: unset;
    }

    .arrow-img{
        height: 40px;
    }
}
@media (max-width: 767px) {
    .owl-carousel .owl-item img{
        width: 75px !important;
    }
    .service-section{
        padding-top: 50px;
    }
    .inner-address-section .address-div div{
        font-size: 14px;
    }
    .review-text{
        font-size: 10px;
    }
    .reviewer-name{
        font-size: 12px;
    }
    .reviewer-post{
        font-size: 12px;
    }
    .service-card-container {
        grid-template-columns: auto auto;
    }
    .landing-page.service-card-container > div:nth-child(5),
    .landing-page.service-card-container > div:nth-child(6),
    .landing-page.service-card-container > div:nth-child(7),
    .landing-page.service-card-container > div:nth-child(8){
        display: none;
    }
    .inner-count-div{
        justify-content: center;
    }
    .team-rectangle-div div{
        max-width: 110px;
        font-size: 10px;
    }
    
    .profile-div-1 > *,
    .profile-div-2 > *,
    .profile-overlay img {
        max-width: 110px;
        height: 110px;
        font-size: 10px;
    }

    .team-rectangle-div{
        height: 75px;
    }

    .profile-div-1 .text-center{
        height: unset;
    }

    .count-number{
        font-size: 24px;
    }

    .custom-btn{
        font-size: 14px;
        padding: 6px 20px;
    }

}
@media (max-width: 600px) {
    .team-card-container{
        display: none;
    }
    .service-header-content{
        font-size: 44px;
    }
    .mobile-team-card-container{
        display: block;
    }
    .team-rectangle-div div{
        max-width: 80px;
        font-size: 10px;
    }
    .service-detail-content div {
        font-size: 14px;
    }
    .mobile-profile-div{
        box-shadow: 0px 0px 10px #00000010;
        border-radius: 12px;
        max-width: 300px;
        width: 100%;
    }

    .mobile-profile-div img{
        border-radius: 12px 12px 0px 0px;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .mobile-profile-post{
        font-size: 12px;
        font-weight: 600;
    }
    
    .profile-div-1 > *,
    .profile-div-2 > *
    .profile-overlay img {
        max-width: 80px;
        height: 80px;
        font-size: 10px;
    }
    .logo-img{
        width: 60px;
    }
    .navbar-toggler-icon{
        width: 21px !important;
    }
    .header-content div:first-child{
        font-size: 18px;
    }
    
    .header-content div:nth-child(2){
        font-size: 22px;
    }
    
    .header-content div:last-child{
        font-size: 14px;
    }
    .section-heading div:first-child{
        font-size: 12px;
    }
    .section-heading div:last-child{
        font-size: 18px;
    }
    .mobile-profile-name{
        font-size: 11px;
    }
}
@media (max-width: 450px) {
    .mobile-profile-name{
        font-size: unset;
    }
    .service-card-container {
        grid-template-columns: auto;
    }
    .bottom-footer-section div{
        font-size: 10px;
    }
    .nav-link{
        font-size: 12px !important;
    }
    .service-card-content{
        font-size: 14px;
        height: 38px;
        -webkit-line-clamp: 2;
    }
    .count-text{
        font-size: 14px;
    }
    .service-card-heading a{
        min-height: unset;
        font-size: 16px;
    }
    .mobile-team-card-container > div{
        flex-direction: column;
    }
}